[Unit]
Description=Charging - Java Application service

[Service]
User=root
WorkingDirectory=/root/module-server
EnvironmentFile=/root/keycloak-production/.env
ExecStart=/bin/bash /root/keycloak-production/service/start-charging.sh
Type=simple

Restart=on-failure
RestartSec=10
StandardOutput=file:/root/module-server/server.log
StandardError=file:/root/module-server/server-error.log

[Install]
WantedBy=multi-user.target
